@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://forms.gle/hNfpKiQUp6cizRop6" target="_blank">お問い合わせはこちら</a>
        </div>

        <article class="container">
            @Body
        </article>

        <footer>
            <p>&copy; 2025 BambooSystem. All rights reserved.</p>
        </footer>


    </main>
</div>
