@page "/"
<h1>教育資料 目次</h1>

<div class="section-grid">
    <div class="card">
        <h2>はじめに</h2>
        <ul>
            <li><a href="intro/SiteOverview">Webサイトの概要</a><span class="description">このWebサイトで学べることの全体像です。</span></li>
            <li><a href="intro/HowToUse">利用ガイド</a><span class="description">Webサイトの使い方や注意事項について説明します。</span></li>
        </ul>
    </div>

    <div class="card">
        <h2>C#</h2>
        <ul>
            <li><a href="CSharp/Program01">C#プログラム入門</a><span class="description">C#を基本としたプログラム入門</span></li>
            <li><a href="CSharp/Program02">C#プログラミング応用</a><span class="description">大規模なアプリケーション開発に必要な応用概念</span></li>
            <li><a href="CSharp/Program03">C#で始めるWindowsデスクトップアプリ開発</a><span class="description">WPFとWinForms</span></li>
            <li><a href="CSharp/Program04">C#で始めるWebアプリケーション開発</a><span class="description">ASP.NET Core</span></li>
            <li><a href="CSharp/Program04">Blazor Webアプリ開発手法</a><span class="description">Blazorの基本的な概念から、プロジェクトの作成、コンポーネント開発、データバインディング、ルーティング、状態管理、テスト戦略までを網羅します。</span></li>

        </ul>
    </div>

    <div class="card">
        <h2>VB</h2>
        <ul>
            <li><a href="/VB/IntroVBA">VBAプログラミング入門（初心者向け）</a><span class="description">プログラミングをこれから始める方を対象とした入門ガイドです</span></li>
            <li><a href="VB/VbDotNet">VB.NET Web Forms入門</a><span class="description">VB.NETとASP.NET Web Formsを使用してWebアプリケーションを開発するための基礎知識を提供します</span></li>
        </ul>
    </div>

</div>


<div class="section-grid">

    <div class="card">
        <h2>SQL教育資料</h2>
        <ul>
            <li><a href="SQL/SQLEdication">SQL教育資料</a><span class="description">SQL教育資料</span></li>
        </ul>
    </div>
</div>

<div class="section-grid">
    <div class="card">
        <h2>SQLテスト_Part1</h2>
        <ul>
            <li><a href="SQL/Practice/Part1/Beginner">SQLテスト_Part1.初級</a><span class="description">SQLテストPart1.初級</span></li>
            <li><a href="SQL/Practice/Part1/Intermediate">SQLテスト_Part1.中級</a><span class="description">SQLテストPart1.中級</span></li>
            <li><a href="SQL/Practice/Part1/Advanced">SQLテスト_Part1.上級</a><span class="description">SQLテストPart1.上級</span></li>
        </ul>
    </div>

    <div class="card">
        <h2>SQLテスト_Part2</h2>
        <ul>
            <li><a href="SQL/Practice/Part2/Beginner">SQLテスト_Part2.初級</a><span class="description">SQLテストPart2.初級</span></li>
            <li><a href="SQL/Practice/Part2/Intermediate">SQLテスト_Part2.中級</a><span class="description">SQLテストPart2.中級</span></li>
            <li><a href="SQL/Practice/Part2/Advance">SQLテスト_Part2.上級</a><span class="description">SQLテストPart2.上級</span></li>
        </ul>
    </div>

    <div class="card">
        <h2>SQLテスト_Part3</h2>
        <ul>
            <li><a href="SQL/Practice/Part3/Beginner">SQLテスト_Part3.初級</a><span class="description">SQLテストPart3.初級</span></li>
            <li><a href="SQL/Practice/Part3/Intermediate">SQLテスト_Part3.中級</a><span class="description">SQLテストPart3.中級</span></li>
            <li><a href="SQL/Practice/Part3/Advanced">SQLテスト_Part3.上級</a><span class="description">SQLテストPart3.上級</span></li>
        </ul>
    </div>
</div>

<div class="section-grid">

    <div class="card">
        <h2>Git</h2>
        <ul>
            <li><a href="Git/IntroGit">Git入門：バージョン管理の基本</a><span class="description">ソフトウェア開発で広く使われているバージョン管理システムである<strong>Git</strong>の基本的な使い方を学びます。</span></li>
            <li><a href="Git/GitBranchStrategy">Gitブランチ戦略とコラボレーション</a><span class="description">Gitのブランチ機能を活用した効果的な開発フローとチームコラボレーションの方法を学びます。</span></li>
        </ul>
    </div>
</div>
@code {

}
